{% extends "templates/layout.twig" %}

{% block css %}
<link rel="stylesheet" href="public/css/events.css">
{% endblock %}

{% block main %}

    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Events</h1>
                    <p>Have a look at our example menus but just aren't right for you? Not to worry – we love working closely with clients to create bespoke tailor made menus unique to every client. Want an all vegan menu? Love French food? Gluten free?    Overall, we are a team of highly qualified chefs who prepare, cook, deliver, set up and clear away our buffets.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="eventLinks">
      <a class="moveToEvents" href="#weddings">Weddings</a>
      <a class="moveToEvents" href="#business">Business</a>
      <a class="moveToEvents" href="#barbecue">Barbecue</a>
      <a class="moveToEvents" href="#special_occasion">Special Occasion</a>
      <a class="moveToEvents" href="#packed_lunches">Packed Lunches</a>
      <a class="moveToEvents" href="#funerals">Funerals</a>
      <a class="moveToEvents" href="#diet">Requirements</a>
    </section>

    <section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 each_events first_event">
                    <div id="weddings" class="blog-item">
                        <img src="/public/img/wedding/rings.jpg" alt="rings">
                        <div class="date">Weddings</div>
                        <div class="down-content event">
                            <h5>Are you looking for expert wedding catering in Coventry and the surrounding areas?</h5>
                            <p>
                            Here at Mr Chef, the highly experienced and qualified catering company, we are dedicated to making your wedding day memorable and special for everyone involved. Did you know that studies in 2016 revealed that the food served at the wedding was the number one part of the day that people remembered? This is why it is so key to get it right!</p>
                            <p>
                            Whether you are having a small, low key family gathering after your service or an elaborate wedding with hundreds of guests, no clients request is too big or small for our specialist team at Mr Chef. We look after every aspect of the catering, so that you can rest easy and enjoy the day as we serve high quality delicacies throughout!
                            </p>
                            <p>Not only do we provide fantastic, high quality, great tasting food, but we also take care of:</p>
                            <ul>
                              <li>Providing all crockery, cutlery and napkins on the day. </li>
                              <li>A specialist team of waiting staff available for hire.</li>
                              <li>Book sooner rather than later to avoid any disappointment!</li>
                              <li>Fully loaded barbecues</li>
                              <li>Perfect for any wedding and includes something for everyone’s dietary requirements. With a range of meat and vegetarian options this is suitable for everyone!</li>
                              <li>Wonderful hog roasts.</li>
                              <li>Perfect for larger weddings as it is a simple dish yet delicious in the way we prepare and cook it!</li>
                            </ul>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="menu?portioned_finger_buffet">Portioned Finger Buffet</a><br>
                                <a href="menu?deluxe_portioned_finger_buffet">Deluxe Portioned Finger Buffet</a>
                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 each_events">
                    <div id="business" class="blog-item">
                        <img src="/public/img/business/keyboard_coffie.jpg" alt="keyboard_coffie">
                        <div class="date">Business</div>
                        <div class="down-content event">
                            <h5>Meetings, Conference, Training days.</h5>
                            <p>
                            No matter how big or small the corporate event is, we are here to help you impress whether you are meeting with big clients, or having an informal meeting with staff to discuss ideas!</p>
                            <p>Whether you are holding meetings, a conference, a training day or a seminar, the team here at Mr Chef Catering can provide you with the perfect bespoke catering solution to fit all attendees and suit all.</p>
                            <ul>
                              <li>Corporate Catering for your business events:</li>
                              <li>All business functions catered for</li>
                              <li>Make an impact by providing a buffet for your guests, whether you want to treat your staff to lunch at a meeting, or cater to a large group of people at a conference. Everyone focuses better once they’ve eaten!</li>
                              <li>Design a menu specifically for your event</li>
                              <li>We appreciate that the people you are hosting may have dietary requirements, which is why we can include vegan, vegetarian or pescatarian options, as well as gluten free or dairy free.</li>
                              <li>Hot and cold menus available</li>
                              <li>Depending on the event and on your preferences, we can create either a hot or cold menu, or a mixture of both!</li>
                              <li>Waiting hire staff available</li>
                              <li>get rid of the stress of finding waiting staff elsewhere, and use our highly qualified in house staff! No-one knows our products better, and can provide the service quite like us.</li>
                              <li>All buffets provided with China, napkins and cutlery</li>
                              <li>let us clear up afterwards to save you the time and effort, with our pick up and wash service in house.</li>
                            </ul>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="tel::02476453364">Please call 02476453364</a><br>
                                <a href="mailto::mrchefcatering@hotmail.com">mrchefcatering@hotmail.com</a><br>
                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 each_events">
                    <div id="barbecue" class="blog-item">
                        <img src="/public/img/barbecue/different_meets.jpg" alt="barbecue">
                        <div class="date">Barbecue</div>
                        <div class="down-content event">
                            <h5>Barbecue Catering</h5>
                            <p>We offer this range of delicious hot/cold food for any event that you may require catering for. With a collective 25 years plus of experience and knowledge within the industry, we have built an enviable reputation with a large number of repeat customers. We are well known across the West Midlands and Warwickshire, and are the professional caterers here to provide you with an excellent service. </p>
                            <p>The price includes a chef to cook the food, the barbecue and all the food, a serving table with all the required food and condiments and food service implements. </p>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="menu?barbecue">Barbecue</a><br>
                                <a href="menu?pig_roast">Pig Roast</a><br>
                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 each_events">
                    <div id="special_occasion" class="blog-item">
                        <img src="/public/img/special/baby_party.jpg" alt="special_occasion">
                        <div class="date">Special Occasion</div>
                        <div class="down-content event">
                            <h5>Special Catering</h5>
                            <p>We offer this range of delicious hot/cold food for any event that you may require catering for. With a collective 25 years plus of experience and knowledge within the industry, we have built an enviable reputation with a large number of repeat customers. We are well known across the West Midlands and Warwickshire, and are the professional caterers here to provide you with an excellent service.</p>
                            <p>The price includes a chef to cook the food, the barbecue and all the food, a serving table with all the required food and condiments and food service implements. </p>
                            <ul>
                              <li>Engagement</li>
                              <li>Birthdays</li>
                              <li>Civil Partnership</li>
                              <li>Afternoon Tea</li>
                              <li>Christening</li>
                            </ul>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="menu?barbecue">Barbecue</a><br>
                                <a href="menu?pig_roast">Pig Roast</a><br>
                                <a href="menu?deluxe_portioned_finger_buffet">Deluxe Portioned Finger Buffet</a><br>
                                <a href="menu?portioned_finger_buffet">Portioned Finger Buffet</a><br>
                                <a href="menu?hot_food_menu">Hot Food</a><br>
                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 each_events">
                    <div id="packed_lunches" class="blog-item">
                        <img src="/public/img/lunch_bags.jpg" alt="Lunch Bags">
                        <div class="date">Packed Lunches</div>
                        <div class="down-content event">
                            <h5>Lunch Bags</h5>
                            <p></p>
                            <ul>
                              <li>Bronze</li>
                              <li>Silver</li>
                              <li>Gold</li>
                              <li>Platinum</li>
                            </ul>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="menu?packed_lunches">Lunch Bags</a>
                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 each_events">
                    <div id="funerals" class="blog-item">
                        <img src="/public/img/funeral/rose.png" alt="Funerals ">
                        <div class="date">Funerals</div>
                        <div class="down-content event">
                            <h5>Funerals and Wakes Catering</h5>
                            <p>Let our family help your family in this difficult time, by letting us cater for you.</p>
                            <p>Call and discuss preferences over the phone or meet face to face to ensure all needs are met at this difficult time.</p>
                            <ul>
                              <li></li>
                            </ul>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="menu?barbecue">Barbecue</a><br>
                                <a href="menu?pig_roast">Pig Roast</a><br>
                                <a href="menu?deluxe_portioned_finger_buffet">Deluxe Portioned Finger Buffet</a><br>
                                <a href="menu?portioned_finger_buffet">Portioned Finger Buffet</a><br>
                                <a href="menu?hot_food_menu">Hot Food</a><br>
                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 each_events">
                    <div id="diet" class="blog-item">
                        <img src="/public/img/vegan/vegan.jpg" alt="Requirements ">
                        <div class="date">Dietary Requirements</div>
                        <div class="down-content event">
                            <h5>Dietary Requirements</h5>
                            <p>Let our family help your family in this difficult time, by letting us cater for you.</p>
                            <p>Call and discuss preferences over the phone or meet face to face to ensure all needs are met at this difficult time.</p>
                            <ul>
                              <li>Vegan</li>
                              <li>Gluten Free</li>
                              <li>Vegetarian</li>
                              <li>Dairy Free</li>
                            </ul>
                            <div class="text-button recomendedMenus">
                                <h5>Recomended Menus</h5>
                                <a href="tell:07753361522">call us to arrange</a><br>

                            </div>
                            <a class="top" href="#">Top...</a>
                        </div>
                    </div>
                </div>
    </section>


    <section class="sign-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Signup for our newsletters</h2>
                    </div>
                </div>
            </div>
            <form id="contact" action="/home" method="post">
                <div class="row">
                  <input hidden name="newsLetter" value="newsLetter">

                    <div class="col-md-4 col-md-offset-3">
                        <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required="">
                        </fieldset>
                    </div>
                    <div class="col-md-2">
                        <fieldset>
                            <button type="submit" id="form-submit" class="btn">Send Message</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
