{% extends "templates/layout.twig" %}

{% block css %}
<link rel="stylesheet" href="public/css/info.css">
{% endblock %}

{% block main %}
    <section class="banner">
        <div class="container">
            <div class="row">
              <main>
                {% if (page == 'aboutus') %}
                <img class="y25" src="/public/img/logos/25.jpg" alt="25years">

                <div class="about_us">
                  <h1>About us</h1>

                  <p>Here at Mr Chef Catering we are now celebrating our 25th year of trading.</p>
                  <p>We are highly experienced in all styles of catering, from business and conference meeting buffets, hot or cold, to private parties, weddings, christenings, funerals, barbecues and hog roasts.</p>
                  <p>We have continually maintained our 5star hygiene rating.</p>
                  <p>We have a passion and desire to provide the best food and service possible to all our clients at very competitive prices.</p>
                  <p>We are a privately owned business that pride ourselves on giving our own personal touch, giving you the peace of mind that your event will run smoothly.</p>
                  <p>We are based in Coventry and can cater to all our local surrounding area stretching across the Midlands.</p>
                  <p>We use locally sourced produce and work with local bakers that provide us with fresh bread daily.</p>
                  <p>We have an extensive menu list which are there to guide you on your event.</p>
                  <p>For your own unique occasion, we can design your own bespoke menu around you and your guest’s diets and specific requirements.</p>
                  <p>For all events we are a self-contained, friendly, family business that will endeavour to take all the stress away from your day, leaving you to enjoy your event with your clients or family.</p>
                  <p>So sit back, relax, pick up the phone or email us and leave the rest to us here at Mr Chef.</p>
                </div>


                {% elseif (page == 'tc') %}


                <div class="tc">
                  <h1>Booking your event with Mr Chef Catering.</h1>
                  <img class="y25" src="/public/img/logos/25.jpg" alt="25years">

                  <h2>Event</h2>
                  <ol>
                    <li>All event bookings must be confirmed in written form, by email or letter by the client.</li>
                    <li>A non-refundable booking deposit is required to secure Mr Chef Caterings services for the date of your event.</li>
                    <li>All booking are subject to minimum guest numbers, this will be confirmed in writing/by email by Mr Chef Catering to the client.</li>
                    <li>Once the confirmation from the client has been received the booking is deemed as secure, any alterations or amendments to the booking must be given as soon as possible, if cancelled then charges will apply.</li>
                  </ol>

                  <h2>Booking deposit.</h2>
                  <ol>
                    <li>A booking deposit figure, usually 20% of the total cost of the booking including VAT will be sent to the client by email once booking confirmation has been received by Mr Chef Catering.</li>
                    <li>This deposit will be deducted from the total event cost which will be issued to the client no later than 2 weeks prior to the event. Payment methods available include bank transfer, Debit card, Credit card, Cheque and Cash. </li>
                  </ol>

                  <h2>Additional deposit.</h2>
                  <ol>
                    <li>An additional deposit will be required for all non-service goods, i.e. crockery, glassware, utensils, etc. that is provided by Mr Chef Catering for the use of a client during their event.</li>
                    <li>An agreed charge will be added to the cost of the event dependent on what is hired and refunded by bank transfer following the return of items (in full and undamaged) to Mr Chef Catering</li>
                    <li>Any items not returned or damaged will be charged and the additional deposit will not be refunded.</li>
                  </ol>

                  <h2>Booking confirmation.</h2>
                  <ol>
                    <li>Once the clients deposit has been received a confirmation email will be issued by Mr Chef Catering which will include the selected menu, event summary and estimated cost based on the number of guests and selection made by the client at this time.</li>
                  </ol>

                  <h2 id="prices" >Variation to the price.</h2>
                  <ol>
                    <li>All bookings are subject to minimum guest numbers which will be confirmed by Mr Chef Catering at the time of booking.</li>
                    <li>Where children are attending – if over 8 years of age they are payable at the same rate as adults – if under 8 years then they are chargeable at half the adult price subject to the minimum numbers mentioned above, children under 3 years of age – free of charge.</li>
                    <li>Any variations to the menu for children must be discussed with Mr Chef Catering as soon as possible so menu offerings can be revised accordingly.</li>
                    <li>*All price are per person and are From the price shown.</li>
                    <li>*Waiter Service & Hire of Equipment please call for fixed price. </li>
                  </ol>

                  <h2>Payment of total event cost prior to event.</h2>
                  <ol>
                    <li>Payment in full is required for all services provided by Mr Chef Catering prior to the event.</li>
                    <li>Final guest numbers must be confirmed 3 weeks prior to the event.</li>
                    <li>The information provided at this point will be used to produce your total event cost invoice, arrange staff and co-ordinate with your venue.</li>
                    <li>Once our invoice has been received by the client payment must be received no later than 1 week prior to the event.</li>
                    <li>Should Mr Chef Catering be advised of any increase in numbers following payment then we reserve the right to accept these and will raise an additional invoice following the event for these guests or extra food needed, payment will be due for immediate settlement by the client.</li>
                    <li>Should we be advised of any decrease in numbers following payment it will be dependent on how much notice has been given as to whether any refunds would be given.</li>
                  </ol>

                  <h2>Cancellation charges</h2>
                  <ol>
                    <li>In the unfortunate event of a booking having to be cancelled, confirmation in writing/ by email will be needed by the client prior to the event</li>
                    <li>Your deposit will be retained and the following charges will be incurred.</li>
                    <li>Cancellation received with less than 1 months’ notice prior to the event – 50% of the total event cost.</li>
                    <li>Cancellation received with less than 2 weeks’ notice prior to the event – 100% of the total event cost.</li>
                    <li>The total event cost will be based on the number of confirmed guests attending at the agreed price per head plus VAT.</li>
                    <li>Should guest numbers still not be confirmed at the time of cancellation the total event cost will be based on the originally quoted/estimated guest numbers.</li>
                    <li>Any additional costs incurred by Mr Chef Catering in preparation for the event up until the time of cancellation will be charged to the client. This is to cover any losses caused to Mr Chef Catering, for any administrative costs/travel/supplies/hire of equipment, etc. and will be discussed fully in event of cancellation.</li>
                  </ol>

                  <h2>Dietary Requirements and Allergies.</h2>
                  <ol>
                    <li>Mr Chef Catering will endeavor to provide suitable adaptations to the client’s menu for any guests with special diets or allergies.</li>
                    <li>We cannot however take responsibility for any guests unless advised in advance (no less than 2 weeks prior to the event).</li>
                  </ol>

                  <h2>Clients food and drinks</h2>
                  <ol>
                    <li>We accept no liability for any food supplied to the client by another caterer or the client themselves in addition to those arranged by Mr Chef Catering.</li>
                    <li>Where the client has made additional arrangements with another company (for example an evening Hog roast) then Mr Chef Catering will require a food disclaimer form to be completed and returned no later than 1 week prior to the event.</li>
                    <li>Mr Chef will happily serve clients arrival drinks, table wine etc. during their event subject to waiting fees or corkage please ask for further details.</li>
                  </ol>

                  <h2>Clients use of Mr Chef Caterings property and Clients personal property and Gifts.</h2>
                  <ol>
                    <li>The client agrees to pay for any loss or damage to any equipment, crockery, cutlery or glassware supplied by Mr Chef Catering for the event including any issues caused by guests.</li>
                    <li>The use of candles by the client for table center pieces when Mr Chef Catering has supplied the table linen is strictly prohibited.</li>
                    <li>Any damage to table linen because of the use of felt tip pens will result in an additional charge payable by the client after the event (a separate area for colouring can be arranged with a suitable table covering, please ask for details).</li>
                    <li>Mr Chef Catering will not be held responsible for the theft, loss or damage to any personal effects of the clients or the gifts brought onto the premises by the guests.</li>
                  </ol>

                  <h2>Liability of Mr Chef Catering</h2>
                  <ol>
                    <li>Mr Chef Catering accepts no liability under any claim whatsoever (be it negligence or otherwise) arising from any loss over the figure of the existing Mr Chef Catering Public Liability limit of Indemnity.</li>
                    <li><em>Note - </em>this figure may change from time to time is available on request.</li>
                  </ol>

                  <h2>Force Majeure</h2>
                  <ol>
                    <li>Mr Chef Catering shall incur no liability if performance of the contract is hindered or prevented by and case whatsoever beyond Mr Chef Caterings control and in particular but without prejudice to the generality of the fore-going, by act of fire, flood, subsidence, sabotage, accident, strike or lock out and shall not be liable for any loss or damage resulting there from suffered by the client.</li>
                  </ol>

                  <p>Mr Chef Catering reserve the right to change any terms and conditions when necessary due to the continual evolvement of the nature of our business.</p>
                  <p>It is the client’s responsibility to ensure they are up to date with our terms and conditions which are available on request or printable from our web site at <a href="info?tc">www.mrchefcatering.co.uk/info?tc</a> </p>
                </div>
                {% endif %}
                <img src="/public/img/vegan/star5.jpg" alt="5 staff food review">

              </main>
            </div>
        </div>
    </section>
{% endblock %}
