
<form class="" action="/login" method="post">
  <label for="username">username</label>
  <input type="text" name="userName" placeholder="User Name">
  <label for="">Password</label>
  <input type="password" name="password" value="Jayneashipway1">

  <input type="submit"  value="Login">

</form>
